<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glambox</title>
</head>
<body>
        <%- include('./partials/navbar') %>

    <h1 >Glambox - Capture Your Moments <span ><img class="icon" src="/images/glamboxlogo.png" alt=""></span></h1>
    <%- body %>
  
    <%- include('./partials/footer') %>

</body>
</html>