<!-- <% layout('layouts/boilerplate') -%> -->

<div class="nav-links" id="nav-link-home">
    <% if(!currentUser) { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% }else {%>
    <a href="/logout">Logout</a>
        <% } %>
</div>
