<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glambox2</title>
</head>
<body>
    <h1>home</h1>
    <% for(let post of posts){ %>
       <h3><%= post.title %></h3> 
        <img src="<%= post.url %>" alt="">
        <p> <%= post.caption  %></p>
        <% } %>
</body>
</html>