<% layout('layouts/boilerplate') -%>
    <h1>Home</h1>
    
    <% if (posts.length > 0) { %>
        <% for(let post of posts) { %>
            <h3><%= post.title %></h3> 
            <img src="<%= post.image %>" alt="Image" width="200">
            <p><%= post.caption %></p>
        <% } %>
    <% } else { %>
        <p>No posts found.</p>
    <% } %>

