<% layout('layouts/boilerplate') -%>

<a class="text" href="/posts/new">Newpost<img class="icon" src="/images/add2.png" alt=""></a>

    <div class="home-container">
        
        <% if (posts.length > 0) { %>
            <% for(let post of posts) { %>
                <div class="post-container">
                    <a class="text" href="/posts/<%= post._id %>"> <%= post.title %></a>
                    
                    <img src="<%= post.image %>" alt="Post Image" class="post-image">
                    <p class="text" >  <%= post.caption %></p>
                </div>
            <% } %>
        <% } else { %>
            <div class="post-container">
                <p>No posts found.</p>
            </div>
        <% } %>
    </div>