<% layout('layouts/boilerplate') -%>

<div class="container">
    <h1>Edit post</h1>
    <form class="newcontainer" action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <input type="text" name="post[image]" id="image" value="<%= post.image %>" required>
        <label for="image">Image URL</label>
        
        <input type="text" name="post[title]" id="title" value="<%= post.title %>" required>
        <label for="title">Title</label>
        
        <input type="text" name="post[caption]" id="caption" value="<%= post.caption %>" required>
        <label for="caption">Caption</label>
        
        <button type="submit">Update post</button>
    </form>
    
    <a class="text" href="/">Back to all posts</a>
</div>