<% layout('layouts/boilerplate') -%>

<div id="showcontainer">

<h1 class="text"><%= post.title %></h1>

<img src="<%= post.image.startsWith('/') ? post.image : '/' + post.image %>"><p class="text" ><%= post.caption %></p>


    <a class="text" href="/">Back to all posts</a>

</div>

